.EditAppBox {
  &::-webkit-scrollbar-thumb {
    background: #EADFCE !important;
    transition: background 1s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--chakra-colors-gray-300) !important;
  }
}
