.home {
  * {
    position: relative;
  }

  .textlg {
    background: linear-gradient(
      to bottom right,
      #1237b3 0%,
      #C8102E 40%,
      #D6203A 80%,
      #E8556B 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
